<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FontToolbox</string>
	<key>CFBundleGetInfoString</key>
	<string>Font Toolbox framework</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.fonts.FontToolbox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FTX</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>178</string>
	<key>CFBundleSignature</key>
	<string>FTBX</string>
	<key>CFBundleVersion</key>
	<string>178</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
