<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>201C</key><string>FE43</string>
	<key>201D</key><string>FE44</string>
	<key>300A</key><string>FE3D</string>
	<key>300B</key><string>FE3E</string>
	<key>300C</key><string>FE41</string>
	<key>300D</key><string>FE42</string>
	<key>300E</key><string>FE43</string>
	<key>300F</key><string>FE44</string>
	<key>301A</key><string>1083A</string>
	<key>301B</key><string>1083B</string>
	<key>301C</key><string>10839</string>
	<key>2013</key><string>FE32</string>
	<key>2014</key><string>FE31</string>
	<key>2018</key><string>FE41</string>
	<key>2019</key><string>FE42</string>
	<key>2025</key><string>FE30</string>
	<key>2026</key><string>FE19</string>
	<key>3001</key><string>FE11</string>
	<key>3002</key><string>FE12</string>
	<key>3008</key><string>FE3F</string>
	<key>3009</key><string>FE40</string>
	<key>3010</key><string>FE3B</string>
	<key>3011</key><string>FE3C</string>
	<key>3014</key><string>FE39</string>
	<key>3015</key><string>FE3A</string>
	<key>3016</key><string>FE17</string>
	<key>3017</key><string>FE18</string>
	<key>3018</key><string>FE39</string>
	<key>3019</key><string>FE3A</string>
	<key>FE4F</key><string>FE34</string>
	<key>FF0C</key><string>FE10</string>
	<key>FF01</key><string>FE15</string>
	<key>FF1A</key><string>FE13</string>
	<key>FF1B</key><string>FE14</string>
	<key>FF1F</key><string>FE16</string>
	<key>FF3B</key><string>FE47</string>
	<key>FF3D</key><string>FE48</string>
	<key>FF3F</key><string>FE33</string>
	<key>FF5B</key><string>FE37</string>
	<key>FF5D</key><string>FE38</string>
	<key>FF08</key><string>FE35</string>
	<key>FF09</key><string>FE36</string>
</dict>
</plist>
