<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>af</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ak</key>
	<array>
		<string>Latn</string>
	</array>
	<key>am</key>
	<array>
		<string>Ethi</string>
	</array>
	<key>ar</key>
	<array>
		<string>Arab</string>
	</array>
	<key>as</key>
	<array>
		<string>Beng</string>
	</array>
	<key>asa</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ast</key>
	<array>
		<string>Latn</string>
	</array>
	<key>az</key>
	<array>
		<string>Latn</string>
	</array>
	<key>be</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>bem</key>
	<array>
		<string>Latn</string>
	</array>
	<key>bez</key>
	<array>
		<string>Latn</string>
	</array>
	<key>bg</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>bm</key>
	<array>
		<string>Latn</string>
	</array>
	<key>bn</key>
	<array>
		<string>Beng</string>
	</array>
	<key>bo</key>
	<array>
		<string>Tibt</string>
	</array>
	<key>br</key>
	<array>
		<string>Latn</string>
	</array>
	<key>brx</key>
	<array>
		<string>Deva</string>
	</array>
	<key>bs</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ca</key>
	<array>
		<string>Latn</string>
	</array>
	<key>cgg</key>
	<array>
		<string>Latn</string>
	</array>
	<key>chr</key>
	<array>
		<string>Latn</string>
		<string>Cher</string>
	</array>
	<key>ckb</key>
	<array>
		<string>Latn</string>
	</array>
	<key>cs</key>
	<array>
		<string>Latn</string>
	</array>
	<key>cy</key>
	<array>
		<string>Latn</string>
	</array>
	<key>da</key>
	<array>
		<string>Latn</string>
	</array>
	<key>dav</key>
	<array>
		<string>Latn</string>
	</array>
	<key>de</key>
	<array>
		<string>Latn</string>
	</array>
	<key>dje</key>
	<array>
		<string>Latn</string>
	</array>
	<key>dsb</key>
	<array>
		<string>Latn</string>
	</array>
	<key>dua</key>
	<array>
		<string>Latn</string>
	</array>
	<key>dyo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>dz</key>
	<array>
		<string>Tibt</string>
	</array>
	<key>ebu</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ee</key>
	<array>
		<string>Latn</string>
	</array>
	<key>el</key>
	<array>
		<string>Grek</string>
	</array>
	<key>en</key>
	<array>
		<string>Dsrt</string>
		<string>Latn</string>
		<string>Shaw</string>
	</array>
	<key>eo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>es</key>
	<array>
		<string>Latn</string>
	</array>
	<key>et</key>
	<array>
		<string>Latn</string>
	</array>
	<key>eu</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ewo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fa</key>
	<array>
		<string>Arab</string>
	</array>
	<key>ff</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fi</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fil</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fr</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fur</key>
	<array>
		<string>Latn</string>
	</array>
	<key>fy</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ga</key>
	<array>
		<string>Latn</string>
	</array>
	<key>gd</key>
	<array>
		<string>Latn</string>
	</array>
	<key>gl</key>
	<array>
		<string>Latn</string>
	</array>
	<key>gsw</key>
	<array>
		<string>Latn</string>
	</array>
	<key>gu</key>
	<array>
		<string>Gujr</string>
	</array>
	<key>guz</key>
	<array>
		<string>Latn</string>
	</array>
	<key>gv</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ha</key>
	<array>
		<string>Latn</string>
	</array>
	<key>haw</key>
	<array>
		<string>Latn</string>
	</array>
	<key>he</key>
	<array>
		<string>Hebr</string>
	</array>
	<key>hi</key>
	<array>
		<string>Deva</string>
	</array>
	<key>hr</key>
	<array>
		<string>Latn</string>
	</array>
	<key>hsb</key>
	<array>
		<string>Latn</string>
	</array>
	<key>hu</key>
	<array>
		<string>Latn</string>
	</array>
	<key>hy</key>
	<array>
		<string>Armn</string>
	</array>
	<key>id</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ig</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ii</key>
	<array>
		<string>Yiii</string>
	</array>
	<key>is</key>
	<array>
		<string>Latn</string>
	</array>
	<key>it</key>
	<array>
		<string>Latn</string>
	</array>
	<key>iu</key>
	<array>
		<string>Latn</string>
		<string>Cans</string>
	</array>
	<key>ja</key>
	<array>
		<string>Kana</string>
		<string>Latn</string>
		<string>Hira</string>
		<string>Hani</string>
	</array>
	<key>jmc</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ka</key>
	<array>
		<string>Geor</string>
	</array>
	<key>kab</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kam</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kde</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kea</key>
	<array>
		<string>Latn</string>
	</array>
	<key>khq</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ki</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kk</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>kkj</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kl</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kln</key>
	<array>
		<string>Latn</string>
	</array>
	<key>km</key>
	<array>
		<string>Khmr</string>
	</array>
	<key>kn</key>
	<array>
		<string>Knda</string>
	</array>
	<key>ko</key>
	<array>
		<string>Kana</string>
		<string>Latn</string>
		<string>Hira</string>
		<string>Hani</string>
		<string>Hang</string>
	</array>
	<key>kok</key>
	<array>
		<string>Deva</string>
	</array>
	<key>ks</key>
	<array>
		<string>Latn</string>
		<string>Arab</string>
	</array>
	<key>ksb</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ksf</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ksh</key>
	<array>
		<string>Latn</string>
	</array>
	<key>kw</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ky</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>lb</key>
	<array>
		<string>Latn</string>
	</array>
	<key>lg</key>
	<array>
		<string>Latn</string>
	</array>
	<key>lkt</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ln</key>
	<array>
		<string>Latn</string>
	</array>
	<key>lo</key>
	<array>
		<string>Laoo</string>
		<string>Latn</string>
	</array>
	<key>lrc</key>
	<array>
		<string>Latn</string>
		<string>Arab</string>
	</array>
	<key>lt</key>
	<array>
		<string>Latn</string>
	</array>
	<key>lu</key>
	<array>
		<string>Latn</string>
	</array>
	<key>luo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>luy</key>
	<array>
		<string>Latn</string>
	</array>
	<key>lv</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mer</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mfe</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mg</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mgh</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mgo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mk</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>ml</key>
	<array>
		<string>Mlym</string>
	</array>
	<key>mn</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>mr</key>
	<array>
		<string>Deva</string>
	</array>
	<key>ms</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mt</key>
	<array>
		<string>Latn</string>
	</array>
	<key>mua</key>
	<array>
		<string>Latn</string>
	</array>
	<key>my</key>
	<array>
		<string>Mymr</string>
	</array>
	<key>mzn</key>
	<array>
		<string>Latn</string>
		<string>Arab</string>
	</array>
	<key>naq</key>
	<array>
		<string>Latn</string>
	</array>
	<key>nb</key>
	<array>
		<string>Latn</string>
	</array>
	<key>nd</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ne</key>
	<array>
		<string>Deva</string>
	</array>
	<key>nl</key>
	<array>
		<string>Latn</string>
	</array>
	<key>nmg</key>
	<array>
		<string>Latn</string>
	</array>
	<key>nn</key>
	<array>
		<string>Latn</string>
	</array>
	<key>nus</key>
	<array>
		<string>Latn</string>
	</array>
	<key>nyn</key>
	<array>
		<string>Latn</string>
	</array>
	<key>om</key>
	<array>
		<string>Latn</string>
	</array>
	<key>or</key>
	<array>
		<string>Orya</string>
	</array>
	<key>os</key>
	<array>
		<string>Latn</string>
	</array>
	<key>pa</key>
	<array>
		<string>Guru</string>
	</array>
	<key>pl</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ps</key>
	<array>
		<string>Arab</string>
	</array>
	<key>pt</key>
	<array>
		<string>Latn</string>
	</array>
	<key>qu</key>
	<array>
		<string>Latn</string>
	</array>
	<key>rm</key>
	<array>
		<string>Latn</string>
	</array>
	<key>rn</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ro</key>
	<array>
		<string>Latn</string>
	</array>
	<key>rof</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ru</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>rw</key>
	<array>
		<string>Latn</string>
	</array>
	<key>rwk</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sah</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>saq</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sbp</key>
	<array>
		<string>Latn</string>
	</array>
	<key>se</key>
	<array>
		<string>Latn</string>
	</array>
	<key>seh</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ses</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sg</key>
	<array>
		<string>Latn</string>
	</array>
	<key>shi</key>
	<array>
		<string>Latn</string>
	</array>
	<key>si</key>
	<array>
		<string>Sinh</string>
	</array>
	<key>sk</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sl</key>
	<array>
		<string>Latn</string>
	</array>
	<key>smn</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sn</key>
	<array>
		<string>Latn</string>
	</array>
	<key>so</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sq</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sr</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>sv</key>
	<array>
		<string>Latn</string>
	</array>
	<key>sw</key>
	<array>
		<string>Latn</string>
	</array>
	<key>swc</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ta</key>
	<array>
		<string>Taml</string>
	</array>
	<key>te</key>
	<array>
		<string>Telu</string>
	</array>
	<key>teo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tg</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>th</key>
	<array>
		<string>Latn</string>
		<string>Thai</string>
	</array>
	<key>ti</key>
	<array>
		<string>Ethi</string>
	</array>
	<key>tk</key>
	<array>
		<string>Latn</string>
	</array>
	<key>to</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tr</key>
	<array>
		<string>Latn</string>
	</array>
	<key>twq</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tzm</key>
	<array>
		<string>Latn</string>
	</array>
	<key>ug</key>
	<array>
		<string>Latn</string>
	</array>
	<key>uk</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>ur</key>
	<array>
		<string>Arab</string>
	</array>
	<key>uz</key>
	<array>
		<string>Cyrl</string>
	</array>
	<key>vai</key>
	<array>
		<string>Vaii</string>
	</array>
	<key>vi</key>
	<array>
		<string>Latn</string>
	</array>
	<key>vun</key>
	<array>
		<string>Latn</string>
	</array>
	<key>wae</key>
	<array>
		<string>Latn</string>
	</array>
	<key>xog</key>
	<array>
		<string>Latn</string>
	</array>
	<key>yav</key>
	<array>
		<string>Latn</string>
	</array>
	<key>yi</key>
	<array>
		<string>Latn</string>
	</array>
	<key>yo</key>
	<array>
		<string>Latn</string>
	</array>
	<key>yue</key>
	<array>
		<string>Hant</string>
	</array>
	<key>zgh</key>
	<array>
		<string>Tfng</string>
	</array>
	<key>zh</key>
	<array>
		<string>Hant</string>
	</array>
	<key>zh-Hans</key>
	<array>
		<string>Hans</string>
	</array>
	<key>zh-Hant</key>
	<array>
		<string>Hant</string>
	</array>
	<key>zu</key>
	<array>
		<string>Latn</string>
	</array>
</dict>
</plist>
