<?xml version="1.0" encoding="UTF-8"?>
<!--
	File:		FTFamilies_OS_2.plist
 
	Contains:	Standard names for an 'OS/2' table sFamilyClass value
 
	Version:	Mac OS X
 
	Written by:	The Apple Font Group
 
	Copyright:	© 2015 by Apple Computer, Inc. All rights reserved.
 
	File Ownership:
 
		DRI:				John Jenkins
 
		Other Contact:		Julio Gonzalez
 
		Technology:			Apple Font Tools
 
-->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Oldstyle Serifs</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>IBM Rounded Legibility</string>
		<key>2</key>
		<string>Garalde</string>
		<key>3</key>
		<string>Venetian</string>
		<key>4</key>
		<string>Modified Venetian</string>
		<key>5</key>
		<string>Dutch Modern</string>
		<key>6</key>
		<string>Dutch Traditional</string>
		<key>7</key>
		<string>Contemporary</string>
		<key>8</key>
		<string>Calligraphic</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Transitional Serifs</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Direct Line</string>
		<key>2</key>
		<string>Script</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>Modern Serifs</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Italian</string>
		<key>2</key>
		<string>Script</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>Clarendon Serifs</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Clarendon</string>
		<key>2</key>
		<string>Modern</string>
		<key>3</key>
		<string>Traditional</string>
		<key>4</key>
		<string>Newspaper</string>
		<key>5</key>
		<string>Stub Serif</string>
		<key>6</key>
		<string>Monotone</string>
		<key>7</key>
		<string>Typewriter</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>Slab Serifs</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Monotone</string>
		<key>2</key>
		<string>Humanist</string>
		<key>3</key>
		<string>Geometric</string>
		<key>4</key>
		<string>Swiss</string>
		<key>5</key>
		<string>Typewriter</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>Freeform Serifs</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Modern</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>Sans Serif</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>IBM Neo-grotesque Gothic</string>
		<key>2</key>
		<string>Humanist</string>
		<key>3</key>
		<string>Low-x Round Geometric</string>
		<key>4</key>
		<string>High-x Round Geometric</string>
		<key>5</key>
		<string>Neo-grotesque Gothic</string>
		<key>6</key>
		<string>Modified Neo-grotesque Gothic</string>
		<key>9</key>
		<string>Typewriter Gothic</string>
		<key>10</key>
		<string>Matrix</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>Ornamentals</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Engraver</string>
		<key>2</key>
		<string>Black Letter</string>
		<key>3</key>
		<string>Decorative</string>
		<key>4</key>
		<string>Three Dimensional</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>Scripts</string>
		<key>0</key>
		<string>No Classification</string>
		<key>1</key>
		<string>Uncial</string>
		<key>2</key>
		<string>Brush Joined</string>
		<key>3</key>
		<string>Formal Joined</string>
		<key>4</key>
		<string>Monotone Joined</string>
		<key>5</key>
		<string>Calligraphic</string>
		<key>6</key>
		<string>Brush Unjoined</string>
		<key>7</key>
		<string>Formal Unjoined</string>
		<key>8</key>
		<string>Monotone Unjoined</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>Symbolic</string>
		<key>0</key>
		<string>No Classification</string>
		<key>3</key>
		<string>Mixed Serif</string>
		<key>6</key>
		<string>Oldstyle Serif</string>
		<key>7</key>
		<string>Neo-grotesque Sans Serif</string>
		<key>15</key>
		<string>Miscellaneous</string>
	</dict>
</dict>
</plist>
