<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arab</key>
	<array>
		<string>ps</string>
		<string>fa</string>
		<string>lrc</string>
		<string>ks</string>
		<string>ur</string>
		<string>mzn</string>
		<string>ar</string>
	</array>
	<key>Armn</key>
	<array>
		<string>hy</string>
	</array>
	<key>Beng</key>
	<array>
		<string>bn</string>
		<string>as</string>
	</array>
	<key>Cans</key>
	<array>
		<string>iu</string>
	</array>
	<key>Cher</key>
	<array>
		<string>chr</string>
	</array>
	<key>Cyrl</key>
	<array>
		<string>mk</string>
		<string>be</string>
		<string>tg</string>
		<string>kk</string>
		<string>ky</string>
		<string>uz</string>
		<string>ru</string>
		<string>bg</string>
		<string>sah</string>
		<string>mn</string>
		<string>sr</string>
		<string>uk</string>
	</array>
	<key>Deva</key>
	<array>
		<string>hi</string>
		<string>brx</string>
		<string>mr</string>
		<string>kok</string>
		<string>ne</string>
	</array>
	<key>Dsrt</key>
	<array>
		<string>en</string>
	</array>
	<key>Ethi</key>
	<array>
		<string>ti</string>
		<string>am</string>
	</array>
	<key>Geor</key>
	<array>
		<string>ka</string>
	</array>
	<key>Grek</key>
	<array>
		<string>el</string>
	</array>
	<key>Gujr</key>
	<array>
		<string>gu</string>
	</array>
	<key>Guru</key>
	<array>
		<string>pa</string>
	</array>
	<key>Hang</key>
	<array>
		<string>ko</string>
	</array>
	<key>Hani</key>
	<array>
		<string>ko</string>
		<string>ja</string>
	</array>
	<key>Hans</key>
	<array>
		<string>zh-Hans</string>
	</array>
	<key>Hant</key>
	<array>
		<string>yue</string>
		<string>zh-Hant</string>
		<string>zh</string>
	</array>
	<key>Hebr</key>
	<array>
		<string>he</string>
	</array>
	<key>Hira</key>
	<array>
		<string>ko</string>
		<string>ja</string>
	</array>
	<key>Kana</key>
	<array>
		<string>ko</string>
		<string>ja</string>
	</array>
	<key>Khmr</key>
	<array>
		<string>km</string>
	</array>
	<key>Knda</key>
	<array>
		<string>kn</string>
	</array>
	<key>Laoo</key>
	<array>
		<string>lo</string>
	</array>
	<key>Latn</key>
	<array>
		<string>ig</string>
		<string>fy</string>
		<string>ja</string>
		<string>af</string>
		<string>jmc</string>
		<string>smn</string>
		<string>mgo</string>
		<string>gv</string>
		<string>yo</string>
		<string>mzn</string>
		<string>kam</string>
		<string>pt</string>
		<string>seh</string>
		<string>hr</string>
		<string>naq</string>
		<string>tzm</string>
		<string>luy</string>
		<string>fur</string>
		<string>ak</string>
		<string>kkj</string>
		<string>se</string>
		<string>hu</string>
		<string>gsw</string>
		<string>nyn</string>
		<string>ca</string>
		<string>ewo</string>
		<string>sg</string>
		<string>rm</string>
		<string>rn</string>
		<string>qu</string>
		<string>is</string>
		<string>ro</string>
		<string>lb</string>
		<string>it</string>
		<string>sk</string>
		<string>ki</string>
		<string>da</string>
		<string>iu</string>
		<string>bm</string>
		<string>sl</string>
		<string>wae</string>
		<string>dyo</string>
		<string>ast</string>
		<string>zu</string>
		<string>fil</string>
		<string>th</string>
		<string>bem</string>
		<string>sn</string>
		<string>kl</string>
		<string>nmg</string>
		<string>so</string>
		<string>lg</string>
		<string>de</string>
		<string>br</string>
		<string>dav</string>
		<string>rw</string>
		<string>tk</string>
		<string>bs</string>
		<string>sq</string>
		<string>ko</string>
		<string>az</string>
		<string>ug</string>
		<string>chr</string>
		<string>kde</string>
		<string>mfe</string>
		<string>to</string>
		<string>mg</string>
		<string>ks</string>
		<string>ee</string>
		<string>nus</string>
		<string>sv</string>
		<string>kln</string>
		<string>nb</string>
		<string>ln</string>
		<string>ses</string>
		<string>sw</string>
		<string>lo</string>
		<string>cs</string>
		<string>ckb</string>
		<string>kea</string>
		<string>tr</string>
		<string>dsb</string>
		<string>nd</string>
		<string>yav</string>
		<string>mua</string>
		<string>kw</string>
		<string>saq</string>
		<string>ksb</string>
		<string>haw</string>
		<string>twq</string>
		<string>vi</string>
		<string>lt</string>
		<string>ff</string>
		<string>asa</string>
		<string>vun</string>
		<string>lu</string>
		<string>cy</string>
		<string>ga</string>
		<string>teo</string>
		<string>lv</string>
		<string>en</string>
		<string>xog</string>
		<string>fi</string>
		<string>eo</string>
		<string>lrc</string>
		<string>nl</string>
		<string>gd</string>
		<string>hsb</string>
		<string>guz</string>
		<string>dje</string>
		<string>mer</string>
		<string>ms</string>
		<string>ksf</string>
		<string>kab</string>
		<string>mt</string>
		<string>nn</string>
		<string>khq</string>
		<string>sbp</string>
		<string>ha</string>
		<string>es</string>
		<string>luo</string>
		<string>et</string>
		<string>shi</string>
		<string>lkt</string>
		<string>rwk</string>
		<string>swc</string>
		<string>fo</string>
		<string>eu</string>
		<string>bez</string>
		<string>ksh</string>
		<string>mgh</string>
		<string>om</string>
		<string>cgg</string>
		<string>ebu</string>
		<string>fr</string>
		<string>gl</string>
		<string>rof</string>
		<string>dua</string>
		<string>pl</string>
		<string>id</string>
		<string>yi</string>
		<string>os</string>
	</array>
	<key>Mlym</key>
	<array>
		<string>ml</string>
	</array>
	<key>Mymr</key>
	<array>
		<string>my</string>
	</array>
	<key>Orya</key>
	<array>
		<string>or</string>
	</array>
	<key>Shaw</key>
	<array>
		<string>en</string>
	</array>
	<key>Sinh</key>
	<array>
		<string>si</string>
	</array>
	<key>Taml</key>
	<array>
		<string>ta</string>
	</array>
	<key>Telu</key>
	<array>
		<string>te</string>
	</array>
	<key>Tfng</key>
	<array>
		<string>zgh</string>
	</array>
	<key>Thai</key>
	<array>
		<string>th</string>
	</array>
	<key>Tibt</key>
	<array>
		<string>dz</string>
		<string>bo</string>
	</array>
	<key>Vaii</key>
	<array>
		<string>vai</string>
	</array>
	<key>Yiii</key>
	<array>
		<string>ii</string>
	</array>
</dict>
</plist>
