<?xml version="1.0" encoding="UTF-8"?>
<!--
	File:		OptionalLigatures.plist
 
	Contains:	The list of standard optional ligatures as a property list
 
	Version:	Mac OS X
 
	Written by:	The Apple Font Group
 
	Copyright:	© 2002-2006 by Apple Computer, Inc. All rights reserved.
 
	File Ownership:
 
		DRI:				John Jenkins
 
		Other Contact:		Peter Lofting
 
		Technology:			Apple Font Tools
 
	Writers:
 
		(JHJ)	John Jenkins

	$Log: OptionalLigatures.plist,v $
	Revision 1.3  2006/04/19 18:51:08  jenkins
	Added ct ligature
	
	Revision 1.2  2006/04/12 22:15:43  jenkins
	Purely cosmetic update: changed "Other Contact" from
	Chia-Chi Chou to Peter Lofting, updated copyright strings,
	and removed invalid UTF-8 from files.
	
	Old Change History (most recent first):

		 <1>	12/11/02	JHJ		Initial check-in.
-->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pieces</key>
		<array>
			<string>longs</string>
			<string>t</string>
		</array>
		<key>vChar</key>
		<string>longst</string>
	</dict>
	<dict>
		<key>pieces</key>
		<array>
			<string>s</string>
			<string>t</string>
		</array>
		<key>vChar</key>
		<string>st</string>
	</dict>
	<dict>
		<key>pieces</key>
		<array>
			<string>c</string>
			<string>t</string>
		</array>
		<key>vChar</key>
		<string>ct</string>
	</dict>
</array>
</plist>
